<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改页面</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <style>
      img {
        width: 100px;
        height: 100px;
      }
    </style>
  </head>
  <body>
    <input type="file" id="uploadImg" />
    <img src="" alt="" id="img" />
    <div>用户名: <input type="text" id="username" /></div>
    <div>密码: <input type="text" id="password" /></div>
    <input type="button" id="edit" value="修改" />
    <script>
      const params = new URLSearchParams(location.search);
      const id = params.get("id");
      loadUser(id);
      //   根据id获取用户信息进行回显
      function loadUser(id) {
        $.ajax({
          url: "/user/" + id,
          success: (res) => {
            console.log(res);
            if (res.code == 200) {
              $("#img").attr("src", res.user.imgurl);
              $("#username").val(res.user.username);
              $("#password").val(res.user.password);
            }
          },
        });
      }

      //   图片上传
      $("#uploadImg").change(function () {
        const file = $("#uploadImg")[0].files[0];
        console.log(111, file);
        let formdata = new FormData(); // 文件上传使用formdata格式
        formdata.append("avatar", file);
        $.ajax({
          url: "/upload",
          type: "post",
          data: formdata,
          contentType: false,
          processData: false,
          success: (res) => {
            console.log(res);
            if (res.code === 200) {
              $("#img").attr("src", "http://localhost:8888/" + res.path);
            }
          },
        });
      });

      //   点击修改
      $("#edit").click(function () {
        var imgurl = $("#img").attr("src");
        var username = $("#username").val();
        var password = $("#password").val();
        // 发送请求
        $.ajax({
          url: "/edituser/" + id, // 服务端配置的时候需要/edituser/:id
          type: "put",
          data: {
            imgurl,
            username,
            password,
          },
          success: (res) => {
            alert(res.msg);
            if (res.code == 200) {
              location.href = "/";
            }
          },
        });
      });
    </script>
  </body>
</html>
