<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  </head>
  <body>
    <ul id="ul"></ul>
    <script>
      loadUsers();
      function loadUsers() {
        $.ajax({
          url: "/users",
          success: (res) => {
            let str = "";
            console.log(res);
            if (res.users) {
              res.users.forEach((item) => {
                str += `
                <li>
                    <span>用户名: ${item.username}</span>
                    <span>密码:${item.password}</span>
                    <img src="${item.imgurl}" alt="" width=100 height=100 />
                    <div>
                        <a href="/edit?id=${item._id}">修改</a>    
                        <button onclick="del('${item._id}')">删除</button>    
                    </div>
                </li>
                `;
              });
              $("#ul").html(str);
            } else {
              // 没有数据
              $("#ul").html("<li>暂无数据</li>");
            }
          },
        });
      }

      // 删除
      function del(id) {
        $.ajax({
          url: `/deleteuser/${id}`,
          type: "delete",
          success: (res) => {
            console.log(res);
            loadUsers();
          },
        });
      }
    </script>
  </body>
</html>
